<!-- Navbar items + banner -->

<div class="banner" >
<div id="navlist">
  <a href="#">Home</a>
  <a href="#">Our Products</a>
  <a href="#">Careers</a>
  <a href="#">About Us</a>
  <a href="#">Contact Us</a>

  <!-- search bar right align -->
  <div class="search">
    <form action="#">
      <input type="text" placeholder=" Search Courses" name="search" />
      <button>
        <i class="fa fa-search" style="font-size: 18px;"> </i>
      </button>
    </form>
  </div>
</div>
<hr>
 <!-- logo with tag -->
 <div class="content">
  <h1 style="color:green; padding-top:20px;">
      Automatic Computer
  </h1>
  <b>
    Escolha em qual das lojas deseja ver as ofertas!
  </b>

  </div>
